body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(242,242,242);
}

a {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.ds-text-right {
    text-align: right;
}

.ds-text-center {
    text-align: center;
}

/* Animation SlideUp */
.slideup.ng-leave,
.slideup.ng-enter {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    overflow-y: hidden;
}

.slideup.ng-leave {
    max-height: initial;
}

    .slideup.ng-leave.ng-leave-active {
        max-height: 0px;
    }

.slideup.ng-enter {
    max-height: 0px;
}

    .slideup.ng-enter.ng-enter-active {
        max-height: inherit;
    }

.fade-move-animation.ng-move {
    -webkit-transition: all linear 0.8s;
    -moz-transition: all linear 0.8s;
    -ms-transition: all linear 0.8s;
    -o-transition: all linear 0.8s;
    transition: all linear 0.8s;
    overflow: hidden;
}

.fade-move-animation.ng-move {
    opacity: 0.3;
}

.fade-move-animation.ng-move.ng-move-active {
    opacity: 1;
}