<div *ngIf="display" id="ds-display" fxLayout="column">
    <div id="ds-head-title" fxLayout="row">
        <div fxFlex="75" class="ds-head-title-left">
          {{ display.title }}
        </div>
        <div fxFlex class="ds-head-title-right" fxLayout="column"></div>
      </div>
      <div class="ds-head-title-date">
        {{ datum | date: 'd. MMMM yyyy' }} - {{ datum | date: 'H:mm' }} Uhr
      </div>

  <div id="ds-main" fxFlex fxLayout="column">
    <div id="ds-main-details">
      <div id="scrollarea" #dsTermineContainer>
        <p class="noItems" *ngIf="!termine.length">Keine Termine vorhanden.</p>
        <!-- b: Termin -->
        <div class="ds-termin" fxLayout="column" *ngFor="let termin of termine" [@terminAnimation]="scrollMode ? 'in' : ''" #dsTermineChild>
          <!-- Gericht, Kammer, Besetzung -->
          <div fxFlex="grow" fxLayout="column">
            <div fxLayout="row" *ngIf="termin.oeffentlich == 'x'" class="olg-layout-line">
              <div fxFlex="20">
                <h3>{{termin.uhrzeitAktuell}} Uhr</h3>
              </div>
              <div fxFlex="40">
                <h3>{{termin.art | capitalize}}</h3>
              </div>
              <div fxFlex="40" class="ds-text-right"><br /></div>
            </div>

            <div fxLayout="row" *ngIf="termin.oeffentlich == 'nein'" class="row-nichtoeffentlich">
              <div fxFlex="20">
                <h3>{{termin.uhrzeitAktuell}} Uhr</h3>
              </div>
              <div fxFlex="40">
                <h3>{{termin.art | capitalize}}</h3>
              </div>
              <div fxFlex="40">
                <h3>Nicht öffentliche Sitzung</h3>
              </div>
            </div>
            <div fxLayout="row" *ngIf="termin.oeffentlich == 'ja'" class="row-oeffentlich">
              <div fxFlex="20">
                <h3>{{termin.uhrzeitAktuell}} Uhr</h3>
              </div>
              <div fxFlex="40">
                <h3>{{termin.art | capitalize}}</h3>
              </div>
              <div fxFlex="40">
                <h3>Öffentliche Sitzung</h3>
              </div>
            </div>

            <div fxLayout="row" class="olg-layout-line">
              <div fxFlex="20">
                <h2>
                  {{termin.az}}
                </h2>
              </div>
              <div fxFlex="40">
                <h2>
                  {{termin.gericht}}
                </h2>
              </div>
              <div fxFlex="40">
                <div *ngIf="termin.besetzung != ''">
                  <div *ngFor="let richter of termin.besetzung; last as r">
                  {{ richter }}<span *ngIf="!r">,<br /></span>
                  </div>
                </div>
              </div>
            </div>
            
            <div fxLayout="row" *ngIf="termin.parteienAktivKurz != ''" class="olg-layout-noline">
              <div fxFlex="45">
                <div style="font-weight:bold; margin-bottom: 8px;">
                    <span *ngFor="let aktiv of termin.parteienAktiv | slice:0:3; last as a">
                    {{aktiv}}<span *ngIf="!a">,<br /></span>
                    </span>
                    <span *ngIf="termin.parteienAktiv.length > 3">u.a.</span>
                </div>
                <div>
                    <span *ngFor="let bevAktiv of termin.prozBevAktiv | slice:0:3; last as ba">
                        {{bevAktiv}}<span *ngIf="!ba">,<br /></span>
                        </span>
                    <span *ngIf="termin.prozBevAktiv.length > 3">u.a.</span>
                </div>
              </div>
              <div fxFlex="10" style="text-align: center;">
                <div>gegen</div>
                <div>&nbsp;</div>
              </div>
              <div fxFlex="45">
                <div style="font-weight:bold; margin-bottom: 8px;">
                    <span *ngFor="let passiv of termin.parteienPassiv | slice:0:3; last as p">
                        {{passiv}}<span *ngIf="!p">,<br /></span>
                        </span>
                    <span *ngIf="termin.parteienPassiv.length > 3">u.a.</span>
                </div>
                <div>
                    <span *ngFor="let bevPassiv of termin.prozBevPassiv | slice:0:3; last as bp">
                        {{bevPassiv}}<span *ngIf="!bp">,<br /></span>
                        </span>
                    <span *ngIf="termin.prozBevPassiv.length > 3">u.a.</span>
                </div>
              </div>
            </div>
            <div fxLayout="row" ng-hide="termin.bemerkung1 == 'FAMxy' && termin.oeffentlich == 'nein'" style="margin-top:10px">
              <div fxFlex="20">wegen</div>
              <div fxFlex="80">
                <strong>{{termin.gegenstand}}</strong>
              </div>
            </div>
            <div fxLayout="row" *ngIf="termin.parteienAktivKurz == ''" style="height: 100px;"></div>

            <div class="olgstyle"></div>
          </div>
        </div>
        <!-- e: Termin -->
      </div>
    </div>
  </div>
</div>
