<div class="panel-public-notpublic" 
     ng-class="{public : (detailTermine[0].oeffentlich == 'ja' && detailTermine[0].status == 'Läuft'), 
                notpublic : (detailTermine[0].oeffentlich == 'nein' && detailTermine[0].status == 'Läuft')}">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                {{(detailTermine[0].oeffentlich == 'ja' && detailTermine[0].status == 'Läuft') ? 'Öffentliche Sitzung' : ''}}
                {{(detailTermine[0].oeffentlich == 'nein' && detailTermine[0].status == 'Läuft') ? 'Nicht öffentliche Sitzung' : ''}}
                {{(detailTermine[0].status != 'Läuft') ? '&nbsp;' : ''}}
            </h1>
        </div>
    </div>
</div>