<div class="detail-termin-rubrum">
    <!-- AP & PP -->
    <div class="row">
        <!-- Aktivparteien -->
        <div class="col-md-5">
            <p ng-repeat="partei in detailTermin.parteienAktiv"><strong>{{partei}}</strong></p>
            <p ng-repeat="prozBev in detailTermin.prozBevAktiv">{{prozBev}}</p>
        </div>
        <div class="col-md-2">
            gegen
        </div>
        <div class="col-md-5">
            <!-- Passivparteien -->
            <p ng-repeat="partei in detailTermin.parteienPassiv"><strong>{{partei}}</strong></p>
            <p ng-repeat="prozBev in detailTermin.prozBevPassiv">{{prozBev}}</p>
        </div>
    </div>

    <!-- Beigeladen -->
    <div class="row" ng-show="detailTermin.parteienBeigeladen.length > 0">
        <!-- Beigeladen -->
        <div class="col-md-1">
            Beigeladen:
        </div>
        <div class="col-md-11">
            <span ng-repeat="beigeladen in detailTermin.parteienBeigeladen">{{beigeladen}}{{$last ? '' : ';&nbsp;'}}</span>
        </div>
    </div>

    <!-- Zeugen & Sachverständige -->
    <div class="row" ng-show="(detailTermin.parteienZeugen.length + detailTermin.parteienSv.length) > 0">
        <div class="col-md-12">
            <span ng-show="detailTermin.parteienZeugen.length > 0">
                <span>und&nbsp;</span>
                <span>{{detailTermin.parteienZeugen.length}}&nbsp;</span><span>{{detailTermin.parteienZeugen.length > 1 ? 'Zeugen' : 'Zeuge'}}</span>
            </span>
            <span ng-show="detailTermin.parteienSv.length > 0">
                <span ng-show="detailTermin.parteienZeugen.length > 0">&nbsp;</span>
                <span>und&nbsp;</span>
                <span>{{detailTermin.parteienSv.length}}&nbsp;</span><span>{{detailTermin.parteienSv.length > 1 ? 'Sachverständige' : 'Sachverständiger'}}</span>
            </span>
        </div>
    </div>
</div>