<!--
<h2>Übersicht <a ng-click="reload()"><i class="fa fa-refresh"></i></a></h2>
<table class="table table-hover table-striped terms" ng-table="table" show-filter="true">
    <colgroup>
        <col width="5%" />
        <col width="5%" />
        <col width="10%" />
        <col width="20%" />
        <col width="20%" />
        <col />
        <col width="12%" />
        <col width="7%" />
        <col width="40px" />
    </colgroup>
    <tbody>
        <tr ng-repeat="term in $data">
            <td data-title="'Aktuell'" sortable="'uhrzeitAktuell'" class="col-uhrzeit-aktuell">
                {{term.uhrzeitAktuell}}
            </td>
            <td data-title="'Plan'" sortable="'uhrzeitPlan'" class="col-uhrzeit-plan">
                {{term.uhrzeitPlan}}
            </td>
            <td data-title="'Aktenzeichen'" sortable="'az'" filter="{'az': 'text'}" class="col-az">
                {{term.az}}
            </td>
            <td data-title="'Aktivpartei'" class="col-ap" filter="{'parteienAktivKurz': 'text'}">
                <div popover="{{term.parteienAktivKurz}}" popover-trigger="mouseenter">{{term.parteienAktivKurz}}</div>
            </td>
            <td data-title="'Passivpartei'" class="col-pp" filter="{'parteienPassivKurz': 'text'}">
                <div popover="{{term.parteienPassivKurz}}" popover-trigger="mouseenter">{{term.parteienPassivKurz}}</div>
            </td>
            <td data-title="'Gericht'" sortable="'gericht'" filter="{'gericht': 'text'}" class="col-gericht">
                {{term.gericht}}
            </td>
            <td data-title="'Raum'" sortable="'sitzungssaal'" filter="{'sitzungssaal': 'text'}" class="col-sitzungssaal">
                {{term.sitzungssaal}}
            </td>
            <td data-title="'Status'" sortable="'status'" filter="{'status': 'text'}" class="col-status">
                {{term.status}}
            </td>
            <td class="col-functions">
                <a ui-sref="terms.details({id:term.id})" tag="Details"><i class="fa fa-search"></i></a>
            </td>
        </tr>
    </tbody>
</table>
-->