<div layout="column">
  <!-- Toolbar -->
  <md-toolbar layout="column" class="md-tall md-whiteframe-z2 md-hue-1">
    <div class="md-toolbar-tools">
      <h2>{{vm.term.Az}}</h2>
    </div>
    <div layout="row" class="md-toolbar-tools">
      <md-button ng-click="vm.save()" flex>
        <md-icon aria-label="Save" md-svg-icon="save"></md-icon> Speichern
      </md-button>
      <md-button ng-click="vm.delete()" flex>
        <md-icon aria-label="Delete" md-svg-icon="delete"></md-icon> Löschen
      </md-button>
      <md-button ng-click="vm.reset()" flex>
        <md-icon aria-label="Reset" md-svg-icon="refresh"></md-icon> Rückgängig
      </md-button>
    </div>
  </md-toolbar>

  <div layout="row">

    <div flex="30" layout="column" class="md-padding md-whiteframe-z3 md-margin">
      <md-input-container>
        <label>Sitzungssaal</label>
        <input ng-model="vm.term.Sitzungssaal" />
      </md-input-container>
      <md-input-container>
        <label>Öffentlich</label>
        <input ng-model="vm.term.Oeffentlich" />
      </md-input-container>
      <md-input-container>
        <label>Uhrzeit (Aktuell)</label>
        <input ng-model="vm.term.UhrzeitAktuell" />
      </md-input-container>
      <md-input-container>
        <label>Uhrzeit (Plan)</label>
        <input ng-model="vm.term.UhrzeitPlan" />
      </md-input-container>
    </div>

    <div flex="30" layout="column" class="md-padding md-whiteframe-z3 md-margin">
      <md-input-container>
        <label>Gegenstand</label>
        <input ng-model="vm.term.Gegenstand" />
      </md-input-container>
      <md-input-container>
        <label>Art</label>
        <input ng-model="vm.term.Art" />
      </md-input-container>
      <md-input-container>
        <label>Status</label>
        <input ng-model="vm.term.Status" />
      </md-input-container>
      <md-input-container>
        <label>Aktenzeichen</label>
        <input ng-model="vm.term.Az" />
      </md-input-container>
    </div>

    <div flex="35" layout="column" class="md-whiteframe-z3 md-margin">
      <ds-richter title="Besetzung" items="vm.term.Besetzung" entity-name="Besetzung"></ds-richter>
    </div>
  </div>

  <div layout="row">
    <div flex="45" layout="column" class="md-whiteframe-z3 md-margin">
      <ds-parteien title="Aktivpartei(en)" items="vm.term.ParteienAktiv" entity-name="ParteienAktiv"></ds-parteien>
    </div>

    <div flex="50" layout="column" class="md-whiteframe-z3 md-margin">
      <ds-prozbev title="Proz.Bev. (Aktiv)" items="vm.term.ProzBevAktiv" entity-name="ProzBevAktiv"></ds-prozbev>
    </div>
  </div>

  <div layout="row">
    <div flex="45" layout="column" class="md-whiteframe-z3 md-margin">
      <ds-parteien title="Passivpartei(en)" items="vm.term.ParteienPassiv" entity-name="ParteienPassiv"></ds-parteien>
    </div>

    <div flex="50" layout="column" class="md-whiteframe-z3 md-margin">
      <ds-prozbev title="Proz.Bev. (Passiv)" items="vm.term.ProzBevPassiv" entity-name="ProzBevPassiv"></ds-prozbev>
    </div>
  </div>

  <div layout="row">
    <div flex="45" layout="column" class="md-whiteframe-z3 md-margin">
      <ds-parteien title="Beigeladen" items="vm.term.ParteienBeigeladen" entity-name="ParteienBeigeladen"></ds-parteien>
    </div>

    <div flex="50" layout="column" class="md-whiteframe-z3 md-margin">
      <ds-prozbev title="Proz.Bev. (Beigeladen)" items="vm.term.ProzBevBeigeladen" entity-name="ProzBevBeigeladen"></ds-prozbev>
    </div>
  </div>

  <div layout="row">
    <div flex="45" layout="column" class="md-whiteframe-z3 md-margin">
      <ds-parteien title="Zeugen" items="vm.term.ParteienZeugen" entity-name="ParteienZeugen"></ds-parteien>
    </div>

    <div flex="50" layout="column" class="md-whiteframe-z3 md-margin">
      <ds-parteien title="Sachverständige" items="vm.term.ParteienSV" entity-name="ParteienSV"></ds-parteien>
    </div>
  </div>

</div>