<form [formGroup]="termineForm" (ngSubmit)="onSubmit()">
  <md-card fxFlex>
    <md-toolbar>
      Termine
    </md-toolbar>
    <md-card-content>
      <div formArrayName="termine">
        <div *ngFor="let termin of termineForm.get('termine').controls; let i=index" [formGroup]="termin">
          <md-input-container>
            <input mdInput type="text" placeholder="Aktenzeichen" formControlName="az">
          </md-input-container>
          <md-input-container>
            <input mdInput type="text" placeholder="Uhrzeit" formControlName="uhrzeit">
          </md-input-container>
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <button type="submit" md-button>Speichern</button>
    </md-card-actions>
  </md-card>
</form>