<div id="edvgt-head">
  Saalanzeige
</div>

<div *ngIf="display" id="ds-display" fxLayout="column">

  <!-- Öffentlich / Nicht öffentlich / Sitzung unterbrochen / Nächste Sitzung -->
  <div fxLayout="column" id="ds-head-status" [ngClass]="
        {
          'ds-head-notrunning': !aktiverTermin,
          'ds-head-public': aktiverTermin && aktiverTermin.oeffentlich == 'ja',
          'ds-head-notpublic': aktiverTermin && aktiverTermin.oeffentlich == 'nein'
        }">
    <div *ngIf="aktiverTermin" fxFlex="grow">
      {{ (aktiverTermin.oeffentlich == 'ja') ? 'Öffentliche Sitzung' : '&nbsp;' }} {{ (aktiverTermin.oeffentlich == 'nein') ? 'Nicht
      öffentliche Sitzung' : '&nbsp;' }}
    </div>
    <div *ngIf="!aktiverTermin && naechsterTermin" [ngClass]="">
      In Kürze
    </div>
  </div>

  <div id="ds-head-title" fxLayout="row">
    <div fxFlex="75" class="ds-head-title-left">
      {{ display.title }}
    </div>
    <div fxFlex class="ds-head-title-right" fxLayout="column">
      <div fxFlex>{{ datum | date: 'd. MMMM yyyy' }}</div>
      <div fxFlex>{{ datum | date: 'H:mm' }} Uhr</div>
    </div>
  </div>

  <div id="ds-main" fxFlex fxLayout="row">
    <div id="ds-main-details" fxFlex fxLayout="row">

      <app-termin *ngIf="aktiverTermin" [termin]="aktiverTermin"></app-termin>

      <app-termin *ngIf="!aktiverTermin && naechsterTermin" [termin]="naechsterTermin"></app-termin>

    </div>

    <div id="ds-main-overview" fxFlex="25" fxLayout="column">
      <div class="ds-box" fxFlex fxLayout="column">
        <div fxFlex class="ds-box-header">
          Verfahren
        </div>
        <div fxFlex="grow" class="ds-box-content">
          <div class="ds-overview-termin" *ngFor="let termin of alleTermine">
            {{ termin.uhrzeitAktuell }} Uhr - {{ termin.az }}<br /> {{ termin.art }}<br /> {{ termin.status }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="edvgt-foot">
  weitere Informationen
</div>