<div class="main-container">
    <div class="content-container">
    <nav class="sidenav">
        <section class="sidenav-content">
          
            <ul class="nav-list">
                <div *ngFor="let note of notes; let index = index;">
                    <button class="btn btn-link btn-sm btn-notes" 
                      [name]="'sel_gericht_' + index"  
                      [id]="'sel_gericht_' + index"
                      (click)="noteClick(note)">
                      {{note.Name}}
                    </button>
                </div>
            </ul>

        </section>

          <button class="btn btn-sm btn-primary" (click)="addNewClick()">
            <clr-icon shape="plus"></clr-icon>
            neu hinzufügen
          </button>
        </nav>  

    <div class="content-area" *ngIf="currentNote!=null">
      
      <div class="edit-note-area">
          <div class="card besetzung-card-meldung">
              <div class="card-block multiple-list-header">
                      <span>Meldung</span>
              </div>
              <div class="card-block card-block-content">
                   
                <div fxLayout="column" fxFlexFill>
                    <div fxFlex="40px">
                        <div fxLayout="row" fxFlexFill>
                            <div fxFlex="80px">
                                <label for="name">Name</label>
                            </div>
                            <div fxFlex>
                                <input type="text" id="name" [(ngModel)]="currentNote.Name" name="name" size="20">
                            </div>
                        </div>
                    </div>
                    <div fxFlex>
                        <div fxFlex="80px">
                            <label for="content">Html Code</label>
                        </div>
                        <div fxFlex>
                            <ngx-codemirror #codemirrorEditor   
                            [(ngModel)]="currentNote.Content" 
                                [options]="{
                                    lineNumbers: true,
                                    lineWrapping: true,
                                    mode: 'markdown'}">
                            </ngx-codemirror>
                            <!--textarea class="clr-textarea clr-textarea-full-size" id="content" [(ngModel)]="currentNote.Content" name="content"></textarea-->
                        </div>
                    </div>
                    <div fxFlex="40px">
                        <div fxFlex="80px">
                            <label for="forced">Forced</label>
                        </div>
                        <div fxFlex>
                            <div class="toggle-switch">
                                <input type="checkbox" id="forced" [(ngModel)]="currentNote.Forced" name="forced" size="20">
                                <label for="forced"></label>
                            </div>
                            <span class="clr-subtext help-text-margin">Steuerung, ob der Inhalt trotz aktivier Termine angezeigt werden soll</span>
                        </div>                            
                    </div>
                </div>

              </div>
          </div>
  
          <div class="card besetzung-card-zuordnung">
              <div class="card-block multiple-list-header">
                  <span>Zuordnungen</span>
              </div>
              <div class="card-block  card-block-content">

                    <div fxLayout="column" fxFlexFill>
                        <div fxFlex>
                            <clr-datagrid #DataGridTermine style="height: 95%">
                                <clr-dg-column class="ds-note-assignment-column-edit"></clr-dg-column>
                                <clr-dg-column class="ds-note-assignment-column-displays">Display</clr-dg-column>
                                <clr-dg-column class="ds-note-assignment-column-uhrzeit-von">Start</clr-dg-column>
                                <clr-dg-column class="ds-note-assignment-column-uhrzeit-bis">Ende</clr-dg-column>
                                <clr-dg-column class="ds-note-assignment-column-kommentar">Kommentar</clr-dg-column>
                            
                                <clr-dg-placeholder>Es sind keine Zuordnungen vorhanden</clr-dg-placeholder>
                                <clr-dg-row *clrDgItems="let ass of currentDisplayNoteAssignments; let i = index">
                                    <clr-dg-cell class="ds-note-assignment-column-edit"><clr-icon shape="pencil" class="is-solid" (click)="editAssignmentClick(ass)"></clr-icon></clr-dg-cell>
                                    <clr-dg-cell class="ds-note-assignment-column-displays">{{ ass.DisplayNames }}</clr-dg-cell>
                                    <clr-dg-cell class="ds-note-assignment-column-uhrzeit-von">{{ ass.StartForDisplay }}</clr-dg-cell>
                                    <clr-dg-cell class="ds-note-assignment-column-uhrzeit-bis">{{ ass.EndForDisplay }}</clr-dg-cell>
                                    <clr-dg-cell class="ds-note-assignment-column-kommentar">{{ ass.Comment }}</clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>

                        <div fxFlex="40px" style="text-align: right;">
                            <div *ngIf="currentDisplayNoteAssignment==null">
                                <button class="btn btn-sm btn-primary" style="margin-right:0px " (click)="addNewAssignmentClick()">
                                    <clr-icon shape="plus"></clr-icon>
                                    neu hinzufügen
                                </button>
                            </div>
                        </div>
                        <div fxFlex="300px">

                            <div *ngIf="currentDisplayNoteAssignment!=null">

                                <div fxLayout="column" fxFlexFill>
                                    <div fxFlex="40px">
                                        <div fxLayout="row" fxFlexFill>
                                            <div fxFlex="80px">
                                                <label for="comment">Kommentar</label>
                                            </div>
                                            <div fxFlex>
                                                <input type="text" id="comment" [(ngModel)]="currentDisplayNoteAssignment.Comment" name="comment" style="width:100%" >
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div fxFlex="40px">
                                        <div fxLayout="row" fxFlexFill>
                                            <div fxFlex="80px">
                                                <label for="start">Start</label>
                                            </div>
                                            <div fxFlex>
                                                <input type="datetime-local" id="start" [(ngModel)]="currentDisplayNoteAssignment.Start" name="start">
                                            </div>
                                            <div fxFlex="80px">
                                                <label for="end">Ende</label>
                                            </div>
                                            <div fxFlex>
                                                <input type="datetime-local" id="end" [(ngModel)]="currentDisplayNoteAssignment.End" name="end">
                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="180px">
                                        <div fxFlex="80px">
                                            <label for="content">Displays</label>
                                        </div>
                                        <div fxFlex style="display:flex;flex-wrap:wrap;overflow: auto;">
                                                <div *ngFor="let display of displays; let index = index;" style="margin-right: 16px;">
                                                    <clr-checkbox
                                                    [clrInline]="true"
                                                    [name]="'sel_displ_' + index"  
                                                            [id]="'sel_displ_' + index"
                                                            [(clrChecked)]="currentDisplaysChecked[index]">
                                                            {{display.title}} 
                                                    </clr-checkbox>
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <div fxFlex="40px" style="text-align: right;">
                                        <button (click)="saveAssignmentClick()" class="btn btn-sm btn-link" type="button">
                                            <clr-icon shape="floppy"></clr-icon>
                                            </button>
                                        <button (click)="deleteAssignmentClick()" class="btn btn-sm btn-link" type="button">
                                            <clr-icon shape="trash"></clr-icon>
                                            </button>
                                        <button (click)="cancelAssignmentClick()" class="btn btn-sm btn-link" type="button">
                                            <clr-icon shape="times"></clr-icon>
                                            </button>    
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

              </div>
          </div>
      </div>
      
      
      <div class="edit-note-footer">
          <button (click)="saveClick()" class="btn btn-sm btn-link" type="button">
              <clr-icon shape="floppy"></clr-icon>
              Speichern
            </button>
          <button (click)="deleteClick()" class="btn btn-sm btn-link" type="button">
              <clr-icon shape="trash"></clr-icon>
              Löschen
            </button>
          <button (click)="cancelClick()" class="btn btn-sm btn-link" type="button">
              <clr-icon shape="times"></clr-icon>
              Abbrechen
            </button>
      </div>

    </div>

</div>

<yes-no-dialog title="Sondermeldung löschen?" message="Möchten Sie die Sondermeldung wirklich unwiderruflich löschen?" (result)="OnDeleteResult($event)"></yes-no-dialog>