.main-container {
    height:100%;
}
.sidenav {
    min-width: 220px;
    width: 220px; 
}
.sidenav-content {
    height:100%;
}

.content-area {
    padding-top: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
}

div.card.besetzung-card-meldung {
    margin-right: 6px!important;
    width: calc(50% - 6px);
    margin-top: 0;
    min-width: 500px;
}

div.card.besetzung-card-zuordnung {
    width: 50%;
    margin-top: 0;
    min-width: 500px;
    
}

div.card-block-content {
    height: calc(100% - 50px);
}

.clr-textarea-full-size{
    height: calc(100% - 16px);
}

.btn-notes {
    margin: 0 0;
    text-align: left;
}

.edit-note-area {
    display: flex;
    height: calc(100% - 50px);
    min-height: 500px;
}

.edit-note-footer {
    display: flex;
    justify-content: flex-end;
    padding: 14px 0 0 0;
}

.ds-note-assignment-column-edit {
    min-width: 35px;
    width: 35px;
    cursor: pointer;
  }

.full-width{
    width: 100%;
}