<div layout="column">
  <!-- Toolbar -->
  <md-toolbar layout="column" class="md-tall md-whiteframe-z2 md-hue-1">
    <div class="md-toolbar-tools">
      <h2>{{vm.display.Name}} - {{vm.display.Title}}</h2>
    </div>
    <div layout="row" class="md-toolbar-tools">
      <md-button ng-click="vm.refresh()">
        <md-icon aria-label="Refresh" md-svg-icon="refresh"></md-icon> Aktualisieren
      </md-button>
      <md-button ng-click="vm.poweron()" ng-show="vm.display.Status < 1 && vm.appConfig.showPoweronButton">
        <md-icon aria-label="PowerOn" md-svg-icon="power"></md-icon> Anschalten
      </md-button>
      <md-button ng-click="vm.shutdown()" ng-hide="vm.display.Status < 1">
        <md-icon aria-label="Shutdown" md-svg-icon="power"></md-icon> Ausschalten
      </md-button>
      <md-button ng-click="vm.restart()" ng-hide="vm.display.Status < 1">
        <md-icon aria-label="Reboot" md-svg-icon="restart"></md-icon> Neu starten
      </md-button>
    </div>
  </md-toolbar>

  <!-- Vorschau -->
  <div>
    <div ng-hide="vm.display.Status < 1">
      <img class="ds-display-screenshot" ng-src="{{vm.display.Screenshot}}" />
    </div>
    <div ng-show="vm.display.Status < 1">
      <div style="margin:50px">
        <h3>Für dieses Gerät kann derzeit keine Vorschau abgerufen werden.</h3>
      </div>
    </div>
  </div>
</div>