div.card-block.multiple-list-header {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

div.card-block.multiple-list-header span {
    line-height: 1.75rem;
}
clr-icon.multiple-list-header-img {
    float: right;
    margin: 8px;
    cursor: pointer;
}

clr-icon.multiple-list-content-img {
    vertical-align: sub;
    cursor: pointer;
}
.multiple-list-imput {
    width: calc(100% - 3em);
}

.imput-right-margin {
    margin-right: 24px;
}

ul.list-unstyled .clr-form-control .clr-input-wrapper {
    width: 100%
}
ul.list-unstyled .clr-control-container {
    width: 100%;
}
.help-text-margin {
    /*margin-top: 0!important;*/
}

div.card {
    margin-top: 6px!important;
}

div.card.besetzung-card-odd {
    margin-right: 6px!important;
    width: calc(50% - 6px)
}
div.card.besetzung-card-even {
    width: 50%;
}

div.clr-control-container.bemerkung, #bem_1 {
    width: 100%;
    height: 10em;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 9.5rem;
    margin-bottom: 1rem;
    letter-spacing: normal;
    line-height: 1rem;
}

.form-group > label {
    position: absolute;
    width: 8.5rem;
    left: 0;
    top: .25rem;
    margin: 0;
}