<clr-modal [(clrModalOpen)]="show" [clrModalSize]="'xl'" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
    <div class="modal-body">
        <form *ngIf="termin!=undefined">
            <section class="form-block">

            <div class="form-group">
              <label for="orga_1">Organisatorisches</label>
              <div class="clr-control-container">
                  <div class="clr-input-wrapper imput-right-margin">
                      <input type="text" id="orga_1"  [(ngModel)]="termin.Sitzungssaal"  name="sitzungssaal" size="45">
                  </div>
                  <span class="clr-subtext help-text-margin">Raum</span>
              </div>
              <div class="clr-control-container">
                  <div class="clr-input-wrapper  imput-right-margin">
                      <input type="time" id="orga_2" [(ngModel)]="termin.UhrzeitPlan" name="UhrzeitPlan" size="35">
                  </div>
                  <span class="clr-subtext help-text-margin">Uhrzeit (Plan)</span>
              </div>
              <div class="clr-control-container">
                  <div class="clr-input-wrapper"  imput-right-margin>
                      <input type="time" id="orga_3" [(ngModel)]="termin.UhrzeitAktuell" name="uhrzeitAktuell" size="35">
                  </div>
                  <span class="clr-subtext help-text-margin">Uhrzeit (Aktuell)</span>
              </div>
            </div>

            <div class="form-group">
                <label for="Verf_1">Verfahrensdaten</label>
                <div class="clr-control-container">
                    <div class="clr-input-wrapper imput-right-margin">
                        <input type="text" id="Verf_1" [(ngModel)]="termin.Az" name="az" size="20">
                    </div>
                    <span class="clr-subtext help-text-margin">Aktenzeichen</span>
                </div>
                <div class="clr-control-container">
                    <div class="clr-input-wrapper  imput-right-margin">
                        <input type="text" id="Verf_2" [(ngModel)]="termin.Gegenstand" name="gegenstand" size="55">
                    </div>
                    <span class="clr-subtext help-text-margin">Gegenstand</span>
                </div>
                <div class="clr-control-container">
                    <div class="clr-input-wrapper  imput-right-margin">
                        <input type="text" id="Verf_3" [(ngModel)]="termin.Art" name="art" size="27">
                    </div>
                    <span class="clr-subtext help-text-margin">Art</span>
                </div>
              </div>
              
              <div class="form-group">
                  <label for="Sitz_1">Sitzungsdaten</label>
                  <div class="clr-control-container">
                      <div class="clr-input-wrapper imput-right-margin">
                          <input type="text" id="Sitz_1" [(ngModel)]="termin.Status" name="status" size="35">
                      </div>
                      <span class="clr-subtext help-text-margin">Status</span>
                  </div>
                  <div class="clr-control-container">
                      <div class="clr-input-wrapper  imput-right-margin">
                          <input type="text" id="Sitz_2" [(ngModel)]="termin.Oeffentlich" name="oeffentlich" size="20">
                      </div>
                      <span class="clr-subtext help-text-margin">Öffentlich</span>
                  </div>
                  <div class="card">
                      <div class="card-block multiple-list-header">
                              <span>Besetzung</span>
                              <clr-icon shape="plus" class="multiple-list-header-img" (click)="addItemClick(termin.Besetzung,'Besetzung')"></clr-icon>
                      </div>
                      <div class="card-block">
                          <ul class="list-unstyled">
                              <li *ngFor="let besetzung of termin.Besetzung; let i = index">
                                <clr-icon shape="trash" class="multiple-list-content-img" (click)="deleteItemClick(termin.Besetzung,besetzung)"></clr-icon>
                                <input type="text" [id]="'bes_' + i" [(ngModel)]="besetzung.Richter" [name]="'besetzung_' + i" class="multiple-list-imput">
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>



                <div class="form-group">
                  <label for="besetzung">Parteien</label>
                  <div class="card besetzung-card-odd">
                      <div class="card-block multiple-list-header">
                              <span>Aktivparteien</span>
                              <clr-icon shape="plus" class="multiple-list-header-img" (click)="addItemClick(termin.ParteienAktiv,'ParteienAktiv')"></clr-icon>
                      </div>
                      <div class="card-block">
                          <ul class="list-unstyled">
                              <li *ngFor="let parteienAktiv of termin.ParteienAktiv; let i = index">
                                <clr-icon shape="trash" class="multiple-list-content-img" (click)="deleteItemClick(termin.ParteienAktiv,parteienAktiv)"></clr-icon>
                                <input type="text" [id]="'parAkt_' + i" [(ngModel)]="parteienAktiv.Partei" [name]="'parteienAktiv_' + i" class="multiple-list-imput">
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="card besetzung-card-even">
                      <div class="card-block multiple-list-header">
                              <span>Passivparteien</span>
                              <clr-icon shape="plus" class="multiple-list-header-img" (click)="addItemClick(termin.ParteienPassiv,'ParteienPassiv')"></clr-icon>
                      </div>
                      <div class="card-block">
                          <ul class="list-unstyled">
                              <li *ngFor="let parteienPassiv of termin.ParteienPassiv; let i = index">
                                <clr-icon shape="trash" class="multiple-list-content-img" (click)="deleteItemClick(termin.ParteienPassiv,parteienPassiv)"></clr-icon>
                                <input type="text" [id]="'parPass_' + i" [(ngModel)]="parteienPassiv.Partei" [name]="'parteienPassiv_' + i" class="multiple-list-imput">
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="card besetzung-card-odd">
                      <div class="card-block multiple-list-header">
                              <span>Prozessbevollmächtigte Aktivpartei</span>
                              <clr-icon shape="plus" class="multiple-list-header-img" (click)="addItemClick(termin.ProzBevAktiv,'ProzBevAktiv')"></clr-icon>
                      </div>
                      <div class="card-block">
                          <ul class="list-unstyled">
                              <li *ngFor="let prozBevAktiv of termin.ProzBevAktiv; let i = index">
                                <clr-icon shape="trash" class="multiple-list-content-img" (click)="deleteItemClick(termin.ProzBevAktiv,prozBevAktiv)"></clr-icon>
                                <input type="text" [id]="'prozBevAkt_' + i" [(ngModel)]="prozBevAktiv.PB" [name]="'prozBevAktiv_' + i" class="multiple-list-imput">
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="card besetzung-card-even">
                      <div class="card-block multiple-list-header">
                              <span>Prozessbevollmächtigte Passivpartei</span>
                              <clr-icon shape="plus" class="multiple-list-header-img" (click)="addItemClick(termin.ProzBevPassiv,'ProzBevPassiv')"></clr-icon>
                      </div>
                      <div class="card-block">
                          <ul class="list-unstyled">
                              <li *ngFor="let prozBevPassiv of termin.ProzBevPassiv; let i = index">
                                <clr-icon shape="trash" class="multiple-list-content-img" (click)="deleteItemClick(termin.ProzBevPassiv,prozBevPassiv)"></clr-icon>
                                <input type="text" [id]="'prozBevPass_' + i" [(ngModel)]="prozBevPassiv.PB" [name]="'prozBevPassiv_' + i" class="multiple-list-imput">
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="card besetzung-card-odd">
                      <div class="card-block multiple-list-header">
                              <span>Beigeladen</span>
                              <clr-icon shape="plus" class="multiple-list-header-img" (click)="addItemClick(termin.ParteienBeigeladen,'ParteienBeigeladen')"></clr-icon>
                      </div>
                      <div class="card-block">
                          <ul class="list-unstyled">
                              <li *ngFor="let parteienBeigeladen of termin.ParteienBeigeladen; let i = index">
                                <clr-icon shape="trash" class="multiple-list-content-img" (click)="deleteItemClick(termin.ParteienBeigeladen,parteienBeigeladen)"></clr-icon>
                                <input type="text" [id]="'beig_' + i" [(ngModel)]="parteienBeigeladen.Partei" [name]="'parteienBeigeladen_' + i" class="multiple-list-imput">
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="card besetzung-card-even">
                      <div class="card-block multiple-list-header">
                              <span>Zeugen</span>
                              <clr-icon shape="plus" class="multiple-list-header-img" (click)="addItemClick(termin.ParteienZeugen,'ParteienZeugen')"></clr-icon>
                      </div>
                      <div class="card-block">
                          <ul class="list-unstyled">
                              <li *ngFor="let parteienZeugen of termin.ParteienZeugen; let i = index">
                                <clr-icon shape="trash" class="multiple-list-content-img" (click)="deleteItemClick(termin.ParteienZeugen,parteienZeugen)"></clr-icon>
                                <input type="text" [id]="'zeug_' + i" [(ngModel)]="parteienZeugen.Partei" [name]="'parteienZeugen_' + i" class="multiple-list-imput">
                              </li>
                          </ul>
                      </div>
                  </div>

                  <div class="card besetzung-card-odd">
                      <div class="card-block multiple-list-header">
                              <span>Prozessbevollmächtigte Beigeladen</span>
                              <clr-icon shape="plus" class="multiple-list-header-img" (click)="addItemClick(termin.ProzBevBeigeladen,'ProzBevBeigeladen')"></clr-icon>
                      </div>
                      <div class="card-block">
                          <ul class="list-unstyled">
                              <li *ngFor="let prozBevBeigeladen of termin.ProzBevBeigeladen; let i = index">
                                <clr-icon shape="trash" class="multiple-list-content-img" (click)="deleteItemClick(termin.ProzBevBeigeladen,prozBevBeigeladen)"></clr-icon>
                                <input type="text" [id]="'prozBevBeig_' + i" [(ngModel)]="prozBevBeigeladen.PB" [name]="'prozBevBeigeladen_' + i" class="multiple-list-imput">
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="card besetzung-card-even">
                      <div class="card-block multiple-list-header">
                              <span>Sachverständige</span>
                              <clr-icon shape="plus" class="multiple-list-header-img" (click)="addItemClick(termin.ParteienSV,'ParteienSV')"></clr-icon>
                      </div>
                      <div class="card-block">
                          <ul class="list-unstyled">
                              <li *ngFor="let parteienSv of termin.ParteienSV; let i = index">
                                <clr-icon shape="trash" class="multiple-list-content-img" (click)="deleteItemClick(termin.ParteienSV,parteienSv)"></clr-icon>
                                <input type="text" [id]="'sachv_' + i" [(ngModel)]="parteienSv.Partei" [name]="'parteienSv_' + i" class="multiple-list-imput">
                              </li>
                          </ul>
                      </div>
                  </div>

                </div>

            </section>
        </form>

    </div>
    <div class="modal-footer">
        <div style="width:86%!important">
            <button (click)="saveClick()" class="btn btn-sm btn-link" type="button">
              <clr-icon shape="floppy"></clr-icon>
              Speichern
            </button>
            <button (click)="deleteClick()" class="btn btn-sm btn-link" type="button">
                <clr-icon shape="trash"></clr-icon>
                Löschen
              </button>
        </div>
        <button (click)="close()" class="btn btn-sm btn-link" type="button">
          <clr-icon shape="times"></clr-icon>
          Abbrechen
        </button>
    </div>
</clr-modal>