<!DOCTYPE html>
<html ng-app="ds-demo">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DigitalSignage.WebUi2.Core - Demo</title>

  <script src="lib/jquery/js/jquery.min.js"></script><!-- jQuery -->
  <script src="lib/angular/js/angular.min.js"></script><!-- Angular Core -->
  <script src="dist/ds-core.js"></script><!-- DigitalSignage Core -->
  <script src="app/ds-demo.js"></script><!-- Demo -->
</head>
<body>
  <div ng-controller="scrollerDemo as vm">
    <h1>{{vm.title}}</h1>
    <button ng-click="vm.changeLine()">Change</button>
    <button ng-click="vm.addLine()">Add</button>
    <button ng-click="vm.redefineLines()">Redefine</button>
    <div style="width:400px;height:300px;max-height:300px;border:solid 1px;overflow:hidden">
      <ds-scroll-content move-step="40" move-duration="900">
        <div ng-repeat="zeile in vm.zeilen" style="background-color: grey;padding:5px;margin:5px">{{zeile}}</div>
      </ds-scroll-content>
    </div>
  </div>

  <div ng-controller="scrollerDemoHorizontal as vm">
    <h1>{{vm.title}}</h1>
    <button ng-click="vm.changeOne()">Change</button>
    <button ng-click="vm.addOne()">Add</button>
    <button ng-click="vm.defineOne()">define (1)</button>
    <button ng-click="vm.defineTwo()">define (2)</button>
    <div style="width:400px;max-width:400px;height:300px;max-height:300px;border:solid 1px;white-space:nowrap">
      <ds-scroll-content move-step="400" move-duration="600" horizontal="true">
        <div ng-repeat="termin in vm.termine" style="width:380px;display:inline-block;background-color: grey;padding:5px;margin:5px">{{termin}}</div>
      </ds-scroll-content>
    </div>
  </div>
</body>
</html>