<div *ngIf="display" fxFlex fxLayout="column">
  <md-toolbar color="primary">
    {{ display.title }}
  </md-toolbar>

  <div fxLayout="row">
    <app-display-control fxFlex="35" [display]="display"></app-display-control>
    

    <md-card fxFlex>
      <md-card-header>
        Termine
      </md-card-header>
      <md-card-content>
        -- Termine --<br />
        ...<br />
        ...<br />
        -- Termine --
        
      </md-card-content>
      <md-card-actions>
        <button md-button>speichern</button>
      </md-card-actions>
    </md-card>
  </div>

</div>