<div class="card" *ngIf="display">
  <div class="card-header">
    Anzeigegerät {{ display.name }}
  </div>
  <div class="card-img"  id="ScreenshotImage" (window:resize)="onResize($event)" *ngIf="screenshot">
    <img [src]="screenshot" (click)="modal.open(screenshot)" class="img-middle-proportion" [style.height.px]="ImageHeight" >
  </div>
  <div class="card-block" [ngClass]="{'ds-bg-yellow':(status < 0), 'ds-bg-red': (status === 0), 'ds-bg-green': (status >= 1)}">
    <div class="card-text">
      Status: {{DisplayStatusToString(status)}}
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link" *ngIf="(status < 1)" (click)="start()">Anschalten</button>
    <button class="btn btn-sm btn-link" *ngIf="(status >= 1)" (click)="shutdown()">Ausschalten</button>
    <button class="btn btn-sm btn-link" *ngIf="(status >= 1)" (click)="restart()">Neu starten</button>
  </div>
</div>


<app-display-dialog></app-display-dialog>