<div class="card" *ngIf="display">
  <div class="card-header">
    Anzeigegerät {{ display.name }}
  </div>
  <div class="card-img">
    <img [src]="screenshot" (click)="modal.open(screenshot)">
  </div>
  <div class="card-block" [ngClass]="{'ds-bg-yellow':(status < 0), 'ds-bg-red': (status === 0), 'ds-bg-green': (status >= 1)}">
    <div class="card-text">
      Status: {{DisplayStatusToString(status)}}
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link" *ngIf="(status < 1)">Anschalten</button>
    <button class="btn btn-sm btn-link" *ngIf="(status >= 1)">Ausschalten</button>
    <button class="btn btn-sm btn-link" *ngIf="(status >= 1)">Neu starten</button>
  </div>
</div>


<app-display-dialog></app-display-dialog>