<h1>Termine</h1>
<form>
  <clr-datagrid>
    <clr-dg-column class="ds-termin-column-uhrzeit">Uhrzeit</clr-dg-column>
    <clr-dg-column class="ds-termin-column-az">Aktenzeichen</clr-dg-column>
    <clr-dg-column class="ds-termin-column-partei">Aktivpartei</clr-dg-column>
    <clr-dg-column class="ds-termin-column-partei">Passivpartei</clr-dg-column>
    <clr-dg-column class="ds-termin-column-oeffentlich">Öffentlich</clr-dg-column>
    <clr-dg-column class="ds-termin-column-status">Status</clr-dg-column>

    <clr-dg-row *clrDgItems="let termin of termine; let i = index">
      <clr-dg-cell>{{ termin.uhrzeitAktuell }}</clr-dg-cell>
      <clr-dg-cell>{{ termin.az }}</clr-dg-cell>
      <clr-dg-cell>{{ termin.parteienAktivKurz }}</clr-dg-cell>
      <clr-dg-cell>{{ termin.parteienPassivKurz }}</clr-dg-cell>
      <clr-dg-cell>
        <div class="toggle-switch">
          <input [id]="'chk_oeff_' + i" type="checkbox" [checked]="termin.oeffentlich === 'ja'" (change)="changeOeffentlich(termin)">
          <label [for]="'chk_oeff_' + i"></label>
        </div>
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="select">
          <select [name]="'sel_status_' + i" [id]="'sel_status_' + i" [(ngModel)]="termin.status">
            <option *ngFor="let status of statusValues" [value]="status">{{ status }}</option>
          </select>
        </div>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</form>
