#ds-display {
  height: 1024px;
  width: 1280px;
  margin: 0px;
  padding: 0px;
}

#ds-head-status {
  height: 80px;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

#ds-head-status div {
  padding: 10px;
}

#ds-head-title {
  height: 80px;
  background-color: rgb(51,51,51);
  color: rgb(240,240,240);
}

#ds-main-details {
  padding:10px;
  background: url('assets/img/rlp_wappen_600x735.png') center no-repeat;
}

#ds-main-details > div {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  padding: 10px;
}

#ds-main-overview {
  padding: 10px;
}