<div *ngIf="display" id="ds-display" fxLayout="column">
    <div id="ds-head-title" fxLayout="row">
        <div fxFlex="75" class="ds-head-title-left">
          {{ display.title }}
        </div>
        <div fxFlex class="ds-head-title-right" fxLayout="column"></div>
      </div>
      <div class="ds-head-title-date">
        {{ datum | date: 'd. MMMM yyyy' }} - {{ datum | date: 'H:mm' }} Uhr
      </div>

  <div id="ds-main" fxFlex fxLayout="row">
    <!-- b: Aktueller Termin -->
    <div  class="mainSide" id="ds-main-details" fxFlex fxLayout="column">
      <p class="noItems" *ngIf="!termine.length || aktiverTermin.az != ''">Keine aktuell laufenden Termine vorhanden.</p>

      <!-- b: Status Läuft -->
        <div *ngIf="termine.length" style="min-height: 100%;" fxLayout="column">
          <div>
            <div fxLayout="row" *ngIf="aktiverTermin.oeffentlich == 'nein'" class="top-nichtoeffentlich">
              <div fxFlex="50">
                <h3>Jetzt verhandelt:</h3>
              </div>
              <div fxFlex="50" class="ds-text-right">
                <h3>Nicht öffentliche Sitzung</h3>
              </div>
            </div>
            <div fxLayout="row" *ngIf="aktiverTermin.oeffentlich == 'ja'" class="top-oeffentlich">
              <div fxFlex="50">
                <h3>Jetzt verhandelt:</h3>
              </div>
              <div fxFlex="50" class="ds-text-right">
                <h3>Öffentliche Sitzung</h3>
              </div>
            </div>
        </div>
          
        <div fxFlex="1">
          <div class="activeCaseAz">{{aktiverTermin.az}}</div>
          <div class="activeCaseType">{{aktiverTermin.art | capitalize}}</div>

          <div class="layout-line"></div>

          <div class="activeCaseParts">
                <div><strong>{{aktiverTermin.parteienAktiv}}</strong></div>
                <div>{{aktiverTermin.prozBevAktiv}}</div>
          </div>
          <div class="activeCasePartsSmallBorder">
            <div><i>gegen</i></div>
          </div>
          <div class="activeCaseParts">
            <div><strong>{{aktiverTermin.parteienPassiv}}</strong></div>
            <div>{{aktiverTermin.prozBevPassiv}}</div>
          </div>
          <div ng-hide="aktiverTermin.bemerkung1 == 'FAMxy' && aktiverTermin.oeffentlich == 'nein'" class="activeCasePartsLargeBorder">
            <div><i>wegen</i></div>
            <div><strong>{{aktiverTermin.gegenstand}}</strong></div>
          </div>
        </div>
          
        <div *ngIf="aktiverTermin.oeffentlich == 'nein'" class="bottom-nichtoeffentlich">
          <h4>{{ aktiverTermin.gericht }}</h4>
        </div>
        <div *ngIf="aktiverTermin.oeffentlich == 'ja'" class="bottom-oeffentlich">
          <h4>{{ aktiverTermin.gericht }}</h4>
        </div>

       </div>
      <!-- e: Status Läuft -->
      <!--<app-termin *ngIf="aktiverTermin" [termin]="aktiverTermin"></app-termin>-->
      <!--<app-termin *ngIf="!aktiverTermin && naechsterTermin" [termin]="naechsterTermin"></app-termin>-->
    </div>
    <!-- e: Aktueller Termin -->

    <!-- b: Weitere Termine -->
    <div class="rightSide" fxFlex="25">
      <div class="rightSideHeadline">Weitere Termine</div>
      <div id="scrollarea" #dsTermineContainer>
        <!-- b: Termin -->
        <div class="ds-termin" fxLayout="column" *ngFor="let termin of termine" [@terminAnimation]="scrollMode ? 'in' : ''" #dsTermineChild>
            <div fxFlex="grow" fxLayout="column">
              <div fxLayout="row" *ngIf="termin.oeffentlich == 'nein'" class="preview-nichtoeffentlich">
                <div fxFlex="40">
                  <h4>&nbsp;{{termin.uhrzeitAktuell}} Uhr</h4>
                </div>
                <div fxFlex="60" class="ds-text-right">
                  <h4>nicht öffentlich&nbsp;</h4>
                </div>
              </div>
              <div fxLayout="row" *ngIf="termin.oeffentlich == 'ja'" class="preview-oeffentlich">
                <div fxFlex="40">
                  <h4>&nbsp;{{termin.uhrzeitAktuell}} Uhr</h4>
                </div>
                <div fxFlex="60" class="ds-text-right">
                  <h4>öffentlich&nbsp;</h4>
                </div>
              </div>
  
              <div fxLayout="column" class="rightSidePadding">
                <h3>{{termin.az}}</h3>
                <h4>{{termin.art | capitalize}}</h4>
                <h4>{{ termin.gericht }}</h4>
                <div class="olg-layout-line"></div>
                <div style="font-weight:bold;">{{termin.parteienAktiv}}</div>
                <div style="font-size: 0.9em;">{{termin.prozBevAktiv}}</div>
                <div style="font-size: small;"><i>gegen</i></div>
                <div style="font-weight:bold;">{{termin.parteienPassiv}}</div>
                <div style="font-size: 0.9em;">{{termin.prozBevPassiv}}</div>
              </div>
              
              <div fxLayout="column" *ngIf="termin.oeffentlich == 'ja'" class="divider-oeffentlich"></div>
              <div fxLayout="column" *ngIf="termin.oeffentlich == 'nein'" class="divider-nichtoeffentlich"></div>
            </div>
          </div>
          <!-- e: Termin -->
      </div>
    </div>
    <!-- e: Weitere Termine -->

  </div>
</div>
