<div *ngIf="display" id="ds-display" fxLayout="column">

  <div id="ds-head-title" fxLayout="row">
    <div fxFlex="75" class="ds-head-title-left">
      {{ display.title }}
    </div>
    <div fxFlex class="ds-head-title-right" fxLayout="column"></div>
  </div>
  <div class="ds-head-title-date">
    {{ datum | date: 'd. MMMM yyyy' }} - {{ datum | date: 'H:mm' }} Uhr
  </div>

  <div id="ds-main" fxFlex fxLayout="column">
    <div id="ds-main-details">

        <div class="noItems" *ngIf="!termine.length"><p class="noItems"><br /></p><p>Keine Termine vorhanden.</p></div>
        
        <div *ngIf="termine.length && !aktiverTermin && naechsterTermin">
          <p class="noItems"><br /></p>
          <p class="noItems">Nächster Termin: {{ naechsterTermin.uhrzeitPlan }} Uhr, AZ: {{ naechsterTermin.az }}</p>
          <p class="noItems"><br /></p>
          <p *ngIf="naechsterTermin.oeffentlich == 'ja'" class="noItems">{{ naechsterTermin.parteienAktivKurz }}<br />./.<br />{{ naechsterTermin.parteienPassivKurz }}</p>
          <p class="noItems"><br /></p>
          <p *ngIf="naechsterTermin.oeffentlich == 'ja'" class="noItems hinweis-oeffentlich"><strong>öffentliche Sitzung</strong></p>
          <p *ngIf="naechsterTermin.oeffentlich == 'nein'" class="noItems hinweis-nichtoeffentlich"><strong>nicht öffentliche Sitzung</strong></p>
        </div>
        
        <div *ngIf="termine.length && aktiverTermin">
          <div class="ds-termin" fxFlex="grow" fxLayout="column">

            <!-- b:: Kopfdaten des Termins -->
            <div fxLayout="row" *ngIf="aktiverTermin.oeffentlich == 'x'" class="olg-layout-line">
              <div fxFlex="15"><h3>{{aktiverTermin.uhrzeitAktuell}} Uhr</h3></div>
              <div fxFlex="35"><h3>{{aktiverTermin.art | capitalize}}</h3></div>
              <div fxFlex="50" class="ds-text-right"><br /></div>
            </div>
            <div fxLayout="row" *ngIf="aktiverTermin.oeffentlich == 'nein'" class="row-nichtoeffentlich">
              <div fxFlex="15"><h3>{{aktiverTermin.uhrzeitAktuell}} Uhr</h3></div>
              <div fxFlex="35"><h3>{{aktiverTermin.art | capitalize}}</h3></div>
              <div fxFlex="50"><h3>Nicht öffentliche Sitzung</h3></div>
            </div>
            <div fxLayout="row" *ngIf="aktiverTermin.oeffentlich == 'ja'" class="row-oeffentlich">
              <div fxFlex="15"><h3>{{aktiverTermin.uhrzeitAktuell}} Uhr</h3></div>
              <div fxFlex="35"><h3>{{aktiverTermin.art | capitalize}}</h3></div>
              <div fxFlex="50"><h3>Öffentliche Sitzung</h3></div>
            </div>

            <div fxLayout="row" class="olg-layout-line">
              <div fxFlex="15"><h2>{{aktiverTermin.az}}</h2></div>
              <div fxFlex="35"><h2>{{aktiverTermin.gericht}}</h2></div>
              <div fxFlex="50">
                <div *ngIf="aktiverTermin.besetzung != ''">
                  <div *ngFor="let richter of aktiverTermin.besetzung; last as r">
                    {{ richter | capitalize }}<span *ngIf="!r">,<br /></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- e:: Kopfdaten des Termins -->

            <!-- b:: Termindetails Sonstige Verfahren -->
            <div *ngIf="aktiverTermin.bemerkung1 != 'VSIMM' && aktiverTermin.oeffentlich == 'ja'">
              <div fxLayout="row" *ngIf="aktiverTermin.parteienAktivKurz != ''" class="olg-layout-noline">
                <div fxFlex="45">
                  <div style="font-weight:bold; margin-bottom: 8px;">
                      <span *ngFor="let aktiv of aktiverTermin.parteienAktiv | slice:0:3; last as a">
                      {{aktiv}}<span *ngIf="!a">,<br /></span>
                      </span>
                      <span *ngIf="aktiverTermin.parteienAktiv.length > 3">u.a.</span>
                  </div>
                  <div>
                      <span *ngFor="let bevAktiv of aktiverTermin.prozBevAktiv | slice:0:3; last as ba">
                          {{bevAktiv}}<span *ngIf="!ba">,<br /></span>
                          </span>
                      <span *ngIf="aktiverTermin.prozBevAktiv.length > 3">u.a.</span>
                  </div>
                </div>
                <div fxFlex="10" style="text-align: center;"><div>gegen</div><div>&nbsp;</div></div>
                <div fxFlex="45">
                  <div style="font-weight:bold; margin-bottom: 8px;">
                      <span *ngFor="let passiv of aktiverTermin.parteienPassiv | slice:0:3; last as p">
                          {{passiv}}<span *ngIf="!p">,<br /></span>
                          </span>
                      <span *ngIf="aktiverTermin.parteienPassiv.length > 3">u.a.</span>
                  </div>
                  <div>
                      <span *ngFor="let bevPassiv of aktiverTermin.prozBevPassiv | slice:0:3; last as bp">
                          {{bevPassiv}}<span *ngIf="!bp">,<br /></span>
                          </span>
                      <span *ngIf="aktiverTermin.prozBevPassiv.length > 3">u.a.</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- e:: Termindetails Sonstige Verfahren -->

            <!-- b:: Termindetails VSIMM -->
            <div *ngIf="aktiverTermin.bemerkung1 == 'VSIMM'">
              <div fxLayout="row" *ngIf="aktiverTermin.parteienAktivKurz != ''" class="olg-layout-noline">
                <div fxFlex="45">
                  <div style="font-weight:bold; margin-bottom: 8px;">
                      <span *ngFor="let aktiv of aktiverTermin.parteienAktiv | slice:0:3; last as a">
                      {{aktiv}}<span *ngIf="!a">,<br /></span>
                      </span>
                      <span *ngIf="aktiverTermin.parteienAktiv.length > 3">u.a.</span>
                  </div>
                  <div>
                      <span *ngFor="let bevAktiv of aktiverTermin.prozBevAktiv | slice:0:3; last as ba">
                          {{bevAktiv}}<span *ngIf="!ba">,<br /></span>
                          </span>
                      <span *ngIf="aktiverTermin.prozBevAktiv.length > 3">u.a.</span>
                  </div>
                </div>
                <div fxFlex="10" style="text-align: center;"><div>gegen</div><div>&nbsp;</div></div>
                <div fxFlex="45">
                  <div style="font-weight:bold; margin-bottom: 8px; text-align: right;">
                      <span *ngFor="let passiv of aktiverTermin.parteienPassiv | slice:0:3; last as p">
                          {{passiv}}<span *ngIf="!p">,<br /></span>
                          </span>
                      <span *ngIf="aktiverTermin.parteienPassiv.length > 3">u.a.</span>
                  </div>
                  <div style="text-align: right;">
                      <span *ngFor="let bevPassiv of aktiverTermin.prozBevPassiv | slice:0:3; last as bp">
                          {{bevPassiv}}<span *ngIf="!bp">,<br /></span>
                          </span>
                      <span *ngIf="aktiverTermin.prozBevPassiv.length > 3">u.a.</span>
                  </div>
                </div>
              </div>
              <!-- b:: Objekte -->
              <div *ngIf="aktiverTermin.objekte.length > 0">
                <div><h3>Versteigerungsobjekte:</h3></div>
              </div>
              <div id="scrollarea" #dsObjectsContainer>                  

                  <div class="einzelobjekt" *ngFor="let objekt of objects" [@terminAnimation]="ScrollingObjectsActive ? 'in' : ''"  #dsObjectsChild>
                    {{ objekt.objektart }}, {{ objekt.gemarkung }}
                    <br />{{ objekt.wirtschaftsart }}
                    <br />{{ objekt.anschrift }}
                    <br />{{ objekt.objekt }}
                    <br />{{ objekt.groesse | number }} qm
                    <br />{{ objekt.grundbuchamt }}
                    <br />{{ objekt.zusatz }}
                    <br />{{ objekt.eigentumsart }}
                    <br />{{ objekt.nutzungsrecht }}
                    <br />{{ objekt.eigentumsanteil }}
                    <br />{{ objekt.schiffsregisterart }}
                    <br />{{ objekt.schiffsname }}
                    <br />{{ objekt.verkehrswert | currency: '€' }}
                   </div>

              </div>
              <!-- e:: Objekte -->
            </div>
            <!-- e:: Termindetails VSIMM -->
          
          </div>
        </div>

    </div>
  </div>

</div>