<!--clr-tabs>
  <clr-tab>
    <button clrTabLink>Termine</button>
    <clr-tab-content *clrIfActive>
      <app-termine *ngIf="display" [displayName]="display.name"></app-termine>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Anzeige</button>
    <clr-tab-content *clrIfActive>
      <app-display-control class="display-control" *ngIf="display" [display]="display" [sizeToScreenHeigt]="true"></app-display-control>
    </clr-tab-content>
  </clr-tab>
</clr-tabs-->

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" >
  <div fxFlex="75%">
    <app-termine *ngIf="display" [displayName]="display.name"></app-termine>
  </div>
  <div fxFlex="25%" class="display-control">
    <app-display-control *ngIf="display" [display]="display"></app-display-control>
  </div>
</div>
