#ds-display {
  height: 1024px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#ds-head-status div {
  padding: 10px;
}

#ds-head-title {
  padding: 0 3%;
  /*background-color: #8e8e8e;
  background-image: linear-gradient(to right, #8e8e8e 0%, white 50%);*/
  background-color: #fff;
  color: #333;
}

.ds-head-title-left {
  padding: 1% 0;
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.ds-head-title-right {
  padding: 1% 0;
  text-align: right;
  font-size: 1.8vw;
  font-weight: bold;
  background: url("/assets/img/logo-justiz-zweibruecken.png") no-repeat;
  background-size: contain;
  background-position: top right;
}
.ds-head-title-date {
  border-top: 2px solid #fff;
  border-bottom: 1px solid #000;
  padding: 0.3% 3%;
  margin-bottom: 1%;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  text-align: right;
  -webkit-box-shadow: 0 3px 30px 0 #000;
  box-shadow: 0 3px 20px 0 #000;
}

#ds-main-overview {
  padding: 0 2%;
  background: url("/assets/img/rlp_wappen_600x735.png") no-repeat;
  background-size: auto 66%;
  background-position: 50% 25%; 
}

#ds-main {
  padding: 0 2%;
  background: url("/assets/img/rlp_wappen_600x735.png") no-repeat;
  background-size: auto 66%;
  background-position: 50% 25%; 
}

.ds-overview-termin {
  font-size: 1.7vw;
  margin: 1% 0 0 0;
  padding: 1%;
  -webkit-box-shadow: 0 5px 10px 0px #8e8e8e;
  box-shadow: 0 5px 10px 0px #8e8e8e;
  background: rgba(255, 255, 255, 0.6);
}
.olg-layout-nichtoeffentlich {
	font-weight: bold; color: #871d33;
}
.olg-layout-oeffentlich {
	font-weight: bold; color: #3d7417;
}
.olg-layout-saal { text-align: right; }