.loading-spinner {
    position: absolute; /* positionieren */
    top: 50%; /* in die Mitte verschieben */
    left: 50%;
}

.loading-spinner-desciption {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameColumn {
    margin: .25rem 0;
}

.statusColumn{
    margin: .25rem 0;
}

.actionColumn{
    
}

.screenshotColumn{
    
}

.terminLinkColumn{
    
}

.img-smallSize {
    max-width: 100%;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-small {
    padding: 0 0;
    min-width: 1.5rem;
}