<clr-stack-view>
    <clr-stack-block [clrSbExpanded]="true" *ngFor="let group of displayGroups">
        <clr-stack-label>{{group}}</clr-stack-label>
        <clr-stack-block *ngFor="let display of GetDisplaysFromGroup(group)">
            <clr-stack-label style="max-width:20%;" class="nameColumn">
                <button class="btn btn-sm btn-link" (click)="updateClick()"><clr-icon shape="refresh"></clr-icon></button>
                {{display.name}}
            </clr-stack-label>
            <clr-stack-content>
                <div fxLayout="row">
                    <div fxFlex="20%" class="statusColumn">
                        {{DisplayStatusToString(display.status)}}
                    </div>
                    <div fxFlex="30%" class="actionColumn">
                        <button class="btn btn-sm btn-link" *ngIf="(display.status < 1)" (click)="startClick()"><clr-icon
                                shape="play"></clr-icon> Anschalten</button>
                        <button class="btn btn-sm btn-link" *ngIf="(display.status >= 1)" (click)="shutdownClick()"><clr-icon
                                shape="power"></clr-icon> Ausschalten</button>
                        <button class="btn btn-sm btn-link" *ngIf="(display.status >= 1)" (click)="restartClick()"><clr-icon
                                shape="replay-all"></clr-icon> Neu starten</button>
                    </div>
                    <div fxFlex="20%" class="screenshotColumn">
                        <div *ngIf="display.screenshotUrl">
                            <img [src]="display.screenshotUrl" (click)="modal.open(display.screenshotUrl)" class="img-smallSize">
                        </div>
                    </div>
                    <div fxFlex="30%" class="terminLinkColumn">
                        <button class="btn btn-sm btn-link" (click)="AnzeigeTermineClick()">Termine Anzeigen</button>
                    </div>
                </div>
            </clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>