<clr-stack-view>
    <clr-stack-block [clrSbExpanded]="true" *ngFor="let group of displayGroups">
        <clr-stack-label>{{group}}</clr-stack-label>
        <clr-stack-content>
            <div fxLayout="row">
                <div fxFlex="78%">
                </div>
                <div fxFlex="22%">
                    <clr-tooltip>
                        <button class="btn btn-sm btn-link btn-small" (click)="updateGroupClick(group)" clrTooltipTrigger> 
                            <clr-icon shape="refresh"></clr-icon>
                            <clr-tooltip-content clrPosition="bottom-left" clrSize="lg" *clrIfOpen>Gruppe '{{group}}' aktualisieren</clr-tooltip-content>
                        </button>
                    </clr-tooltip>
                    <clr-tooltip>
                        <button class="btn btn-sm btn-link btn-small" (click)="startGroupClick(group)" clrTooltipTrigger> 
                            <clr-icon shape="play"></clr-icon>
                            <clr-tooltip-content clrPosition="bottom-left" clrSize="lg" *clrIfOpen>Gruppe '{{group}}' starten</clr-tooltip-content>
                        </button>
                    </clr-tooltip>
                    <clr-tooltip>
                        <button class="btn btn-sm btn-link btn-small" (click)="restartGroupClick(group)" clrTooltipTrigger> 
                            <clr-icon shape="replay-all"></clr-icon>
                            <clr-tooltip-content clrPosition="bottom-left" clrSize="lg" *clrIfOpen>Gruppe '{{group}}' neu starten</clr-tooltip-content>
                        </button>
                    </clr-tooltip>
                    <clr-tooltip>
                        <button class="btn btn-sm btn-link btn-small" (click)="stopGroupClick(group)" clrTooltipTrigger> 
                            <clr-icon shape="power"></clr-icon>
                            <clr-tooltip-content clrPosition="bottom-left" clrSize="lg" *clrIfOpen>Gruppe '{{group}}' herunterfahren</clr-tooltip-content>
                        </button>
                    </clr-tooltip>
                </div>
            </div>
        </clr-stack-content>
        <clr-stack-block *ngFor="let display of GetDisplaysFromGroup(group)">
            <clr-stack-label style="max-width:20%;" class="nameColumn">
                <button class="btn btn-sm btn-link" (click)="updateDisplayClick(display)"><clr-icon shape="refresh"></clr-icon></button>
                {{display.name}}
            </clr-stack-label>
            <clr-stack-content>
                <div fxLayout="row">
                    <div fxFlex="20%" class="statusColumn">
                        <display-status [status]="display.status"></display-status>
                    </div>
                    <div fxFlex="30%" class="actionColumn">
                        <button class="btn btn-sm btn-link" *ngIf="(display.status < 1)" (click)="startDisplayClick()"><clr-icon
                                shape="play"></clr-icon> Anschalten</button>
                        <button class="btn btn-sm btn-link" *ngIf="(display.status >= 1)" (click)="stopDisplayClick()"><clr-icon
                                shape="power"></clr-icon> Ausschalten</button>
                        <button class="btn btn-sm btn-link" *ngIf="(display.status >= 1)" (click)="restartDisplayClick()"><clr-icon
                                shape="replay-all"></clr-icon> Neu starten</button>
                    </div>
                    <div fxFlex="20%" class="screenshotColumn">
                        <div *ngIf="display.screenshotUrl">
                            <img [src]="display.screenshotUrl" (click)="modal.open(display.screenshotUrl)" class="img-smallSize">
                        </div>
                    </div>
                    <div fxFlex="30%" class="terminLinkColumn">
                        <button class="btn btn-sm btn-link" (click)="AnzeigeTermineClick()">Termine Anzeigen</button>
                    </div>
                </div>
            </clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>
</clr-stack-view>

<app-display-dialog></app-display-dialog>