<div *ngIf="display" id="ds-display" fxLayout="column">

  <div id="ds-head-title" fxLayout="row">
    <div fxFlex="80" class="ds-head-title-left">
      {{ display.title }}
    </div>
    <div fxFlex class="ds-head-title-right" fxLayout="column">
      <div fxFlex>{{ datum | date: 'd. MMMM yyyy' }}</div>
      <div fxFlex>{{ datum | date: 'H:mm' }} Uhr</div>
    </div>
  </div>

  <div id="ds-main" fxFlex fxLayout="column" #dsTermineContainer>
    <div *ngFor="let termin of termine" [@terminAnimation]="scrollMode ? 'in' : ''" #dsTermineChild>
      <div class="ds-overview-termin" fxLayout="row">
        <div fxFlex="10">
          <strong>{{ termin.uhrzeitAktuell }} Uhr</strong>
        </div>
        <div fxFlex="25">
          <div>
            <strong>{{ termin.az }}</strong>
          </div>
          <div>
            <span *ngIf="isFlughafenanzeige()">
              {{ termin.gericht }}
            </span>
          </div>
        </div>
        <div fxFlex>
          {{ WithoutRepresentative(termin.parteienAktivKurz) }} ./. {{ WithoutRepresentative(termin.parteienPassivKurz) }}
        </div>
        <div fxFlex="15">
          {{ termin.sitzungssaal }}
        </div>
      </div>
    </div>
  </div>
</div>
