<div *ngIf="termin" fxFlex fxLayout="column" class="ds-box">

  <!-- Status -->
  <div class="ds-box-header" [ngClass]="{
    'ds-box-oeffentlich' : IstAktiv() && IstOeffentlich(),
    'ds-box-nichtoeffentlich' : IstAktiv() && !IstOeffentlich()
  }">
    <h3>
      {{ termin.status ? termin.status : 'In Kürze' }}
    </h3>
  </div>

  <!-- Seitenkopf -->
  <div style="text-align: center" class="ds-termin-head">
    <h1>{{ termin.gericht }}</h1>
    <h2 [ngClass]="{ 
      'ds-oeffentlich' : IstOeffentlich(),
      'ds-nichtoeffentlich' : !IstOeffentlich() }">
      {{ IstOeffentlich() ? '- Öffentliche Sitzung -' : '- Nicht öffentliche Sitzung -'}}
    </h2>
    <h2>{{ termin.kammer }}. Kammer</h2>
  </div>

  <!-- Gericht, Kammer, Besetzung
  <div fxFlex="nogrow" fxLayout="row">
    <div fxFlex>
      <h1>
        {{ termin.gericht }}
      </h1>
      <h2>
        {{ termin.kammer }}. Kammer
      </h2>
    </div>
    <div fxFlex="40" fxLayout="column">
      <div *ngFor="let richter of termin.besetzung">
        {{ richter }}
      </div>
    </div>
  </div>
-->

  <!-- Trenner -->
  <div fxFlex="nogrow" class="ds-divider"></div>

  <!-- Besetzung -->
  <div fxLayout="row">
    <div fxFlex="30">
      <h3>Besetzung:</h3>
    </div>
    <div fxFlex>
      <span *ngFor="let richter of termin.besetzung">
        {{ richter }}<br />
      </span>
    </div>
  </div>

  <!-- Trenner -->
  <div fxFlex="nogrow" class="ds-divider"></div>

  <!-- Uhrzeit, Art, AZ -->
  <div fxFlex="nogrow" fxLayout="row">
    <div fxFlex="20">
      <h3>{{ termin.uhrzeitAktuell }} Uhr</h3>
    </div>
    <div fxFlex>
      <h3>{{ termin.art | capitalize }}</h3>
    </div>
    <div fxFlex="20">
      <h3>{{ termin.az }}</h3>
    </div>
  </div>

  <!-- Trenner -->
  <div fxFlex="nogrow" class="ds-divider"></div>

  <!-- Aktivpartei -->
  <div fxFlex="nogrow" fxLayout="row">
    <div fxFlex>
      <div *ngFor="let partei of termin.parteienAktiv">
        {{ partei }}
      </div>
    </div>
    <div fxFlex="5">
    </div>
    <div fxFlex>
      <div *ngFor="let pb of termin.prozBevAktiv">
        {{ pb }}
      </div>
    </div>
  </div>

  <!-- Trenner -->
  <div fxFlex="nogrow" class="ds-divider"></div>

  <!-- gegen -->
  <div fxFlex="nogrow" class="ds-gegen">
    gegen
  </div>

  <!-- Trenner -->
  <div fxFlex="nogrow" class="ds-divider"></div>

  <!-- Passivpartei -->
  <div fxFlex="nogrow" fxLayout="row">
    <div fxFlex>
      <div *ngFor="let partei of termin.parteienPassiv">
        {{ partei }}
      </div>
    </div>
    <div fxFlex="5">
    </div>
    <div fxFlex>
      <div *ngFor="let pb of termin.prozBevPassiv">
        {{ pb }}
      </div>
    </div>
  </div>

  <!-- Trenner -->
  <div fxFlex="nogrow" class="ds-divider"></div>

  <!-- Beigeladene -->
  <div fxFlex="nogrow" fxLayout="row">
    <div fxFlex="15">
      Beigeladen:
    </div>
    <div fxFlex>
      <span *ngFor="let beigeladen of termin.parteienBeigeladen; let i = index">
        {{ beigeladen }}<span *ngIf="(i+1) < termin.parteienBeigeladen.length">; </span>
      </span>
    </div>
  </div>

  <div *ngIf="(termin.parteienZeugen.length + termin.parteienSv.length) > 0" fxFlex="nogrow">
    <span *ngIf="termin.parteienZeugen.length == 1">
      und {{ termin.parteienZeugen.length }} Zeugin/Zeuge
    </span>
    <span *ngIf="termin.parteienZeugen.length > 1">
      und {{ termin.parteienZeugen.length }} Zeugen
    </span>
    <span *ngIf="termin.parteienSv.length > 0">
      und {{ termin.parteienSv.length }} Sachverständige(r)
    </span>
  </div>

  <!-- Trenner -->
  <div fxFlex="nogrow" class="ds-divider"></div>

  <!-- wegen -->
  <div fxFlex="nogrow" fxLayout="row">
    <div fxFlex="8">
      wegen:
    </div>
    <div fxFlex>
      {{ termin.gegenstand }}
    </div>
  </div>

</div>