:host {
  display: flex;
  width: 100%;
}

.ds-termin-head h1, .ds-termin-head h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ds-inkuerze {
  color: #4d4d4d;
}

.ds-oeffentlich {
  /*color: #006416;*/
}

.ds-nichtoeffentlich {
  color: #af0101;
}

.ds-box-oeffentlich {
  background-color:#abdd88;
}

.ds-box-nichtoeffentlich {
  background-color: rgba(175, 1, 1, 0.5);
}

.ds-bemerkung {
  white-space: pre-wrap;
}