<div *ngIf="display" id="ds-display" fxLayout="column">
  <div id="ds-head-title" fxLayout="row">
    <div fxFlex="75" class="ds-head-title-left">
      {{ display.title }}
    </div>
    <div fxFlex class="ds-head-title-right" fxLayout="column">
      <div fxFlex>{{ datum | date: 'd. MMMM yyyy' }}</div>
      <div id="setmytime" fxFlex>{{ datum | date: 'H:mm' }} Uhr</div>
    </div>
  </div>

  <div id="ds-main" fxFlex fxLayout="column">
    <div id="ds-main-details">
      <div id="scrollarea" #dsTermineContainer>
        <p class="noItems" *ngIf="!termine.length">Keine Termine vorhanden.</p>
        <!-- b: Termin -->
        <div class="ds-termin" fxLayout="column" *ngFor="let termin of termine" [@terminAnimation]="scrollMode ? 'in' : ''" #dsTermineChild>
          <!-- Gericht, Kammer, Besetzung -->
          <div fxFlex="grow" fxLayout="column">
            <div fxLayout="row" class="olg-layout-line">
              <div fxFlex="70">
                <h2>
                  {{ termin.gericht }}
                </h2>
              </div>
              <div fxFlex="30">
                <span *ngIf="termin.oeffentlich == 'nein'" class="olg-layout-nichtoeffentlich">
                  Nicht öffentliche Sitzung
                </span>
                <span *ngIf="termin.oeffentlich == 'ja'" class="olg-layout-oeffentlich">
                  Öffentliche Sitzung
                </span>
              </div>
            </div>

            <div fxLayout="row" class="olg-layout-line">
              <div fxFlex="15">
                <h3>{{termin.uhrzeitAktuell}} Uhr</h3>
              </div>
              <div fxFlex="55">
                <h3>{{termin.art | capitalize}}</h3>
              </div>
              <div fxFlex="30" class="ds-text-right">
                <h3>{{termin.az}}</h3>
              </div>
            </div>

            <div fxLayout="row" class="olg-layout-noline">
              <div fxFlex="45">
                <div style="font-weight:bold; margin-bottom: 8px;">{{termin.parteienAktiv}}</div>
                <div>{{termin.prozBevAktiv}}</div>
              </div>
              <div fxFlex="10">
                <div>gegen</div>
                <div>&nbsp;</div>
              </div>
              <div fxFlex="45">
                <div style="font-weight:bold; margin-bottom: 8px;">{{termin.parteienPassiv}}</div>
                <div>{{termin.prozBevPassiv}}</div>
              </div>
            </div>
            <div fxLayout="row" ng-hide="termin.bemerkung1 == 'FAMxy' && termin.oeffentlich == 'nein'" style="margin-top:10px">
              <div fxFlex="15">wegen</div>
              <div fxFlex="85">
                <strong>{{termin.gegenstand}}</strong>
              </div>
            </div>

            <div class="olgstyle"></div>
          </div>
        </div>
        <!-- e: Termin -->
      </div>
    </div>
  </div>
</div>
