#ds-display {
  height: 1024px;
  width: 1280px;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  z-index: 1;
}

#edvgt-head {
  background-color: #871d33;
  color:#F1F1F1;
  font-weight: bold;
  height: 128px;
  font-size: 60px;
  text-align: center;
  line-height: 128px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  z-index: 2;
  position: relative;
}

#ds-head-status {
  height: 80px;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

#ds-head-status div {
  padding: 10px;
}

#ds-head-title {
  height: 80px;
  background-color: rgb(51,51,51);
  color: rgb(240,240,240);
}

.ds-head-title-left {
  padding: 10px;
  font-size: 2.4em;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 1.0em;
}

.ds-head-title-right {
  padding: 8px;
  text-align: right;
  line-height: 1.20;
  font-size: 1.2em;
  font-weight: bold;
}

#ds-main-details {
  padding:10px;
  background: url('/assets/img/rlp_wappen_500x613.png') center no-repeat;
}

#ds-main-details > div {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  padding: 10px;
}

#ds-main-overview {
  padding: 10px;
}
