<div *ngIf="display" id="ds-display" fxLayout="column">
    <div id="ds-head-title" fxLayout="row">
        <div fxFlex="75" class="ds-head-title-left">
          {{ display.title }}
        </div>
        <div fxFlex class="ds-head-title-right" fxLayout="column"></div>
      </div>
      <div class="ds-head-title-date">
        {{ datum | date: 'd. MMMM yyyy' }} - {{ datum | date: 'H:mm' }} Uhr
      </div>

  <div id="ds-main" fxFlex fxLayout="row">
    <!-- b: Aktueller Termin -->
    <div  class="mainSide" id="ds-main-details" style="min-height: 100%;" fxFlex fxLayout="column">
      <div *ngIf="!aktiverTermin" fxFlex="100"><p class="noItems">Keine aktuell laufenden Termine vorhanden.</p></div>
      <div *ngIf="naechsterTermin" fxFlex="100">
        <p class="noItems"><br /></p>
        <p class="noItems">Nächster Termin: {{ naechsterTermin.uhrzeitPlan }} Uhr, AZ: {{ naechsterTermin.az }}</p>
        <p *ngIf="naechsterTermin.oeffentlich == 'ja'" class="noItems">{{ naechsterTermin.parteienAktivKurz }} <br /> ./. {{ naechsterTermin.parteienPassivKurz }}</p>
        <p *ngIf="naechsterTermin.oeffentlich == 'ja'" class="noItems hinweis-oeffentlich-2"><strong>öffentliche Sitzung</strong></p>
        <p *ngIf="naechsterTermin.oeffentlich == 'nein'" class="noItems hinweis-nichtoeffentlich-2"><strong>nicht öffentliche Sitzung</strong></p>
      </div>
      <!-- b: Status Läuft -->
      <div *ngIf="aktiverTermin" fxFlex="100">
        <div>
          <div fxLayout="row" *ngIf="aktiverTermin.oeffentlich == 'nein'" class="top-nichtoeffentlich">
            <div fxFlex="50">
              <h3>Jetzt verhandelt:</h3>
            </div>
            <div fxFlex="50" class="ds-text-right">
              <h3>Nicht öffentliche Sitzung</h3>
            </div>
          </div>
          <div fxLayout="row" *ngIf="aktiverTermin.oeffentlich == 'ja'" class="top-oeffentlich">
            <div fxFlex="50">
              <h3>Jetzt verhandelt:</h3>
            </div>
            <div fxFlex="50" class="ds-text-right">
              <h3>Öffentliche Sitzung</h3>
            </div>
          </div>
        </div>

        <div *ngIf="aktiverTermin.bemerkung1 != '' && aktiverTermin.bemerkung1 !== null " class="notice-line">{{ aktiverTermin.bemerkung1 }}</div>
          
        <div>
          <div class="activeCaseAz">{{aktiverTermin.az}}</div>
          <div class="activeCaseType">{{aktiverTermin.art | capitalize}}</div>
          <div class="layout-line"></div>
        </div>
  
        <div *ngIf="aktiverTermin.oeffentlich == 'ja'">
          <div [ngSwitch]="aktiverTermin.bemerkung2">
            <div *ngSwitchCase="'STRAF'">
              <div class="activeCaseParts">
                <div *ngFor="let parteiAktiv of aktiverTermin.parteienAktiv | slice:0:1">
                  <strong>{{parteiAktiv}}<span *ngIf="aktiverTermin.parteienAktiv.length > 1">&nbsp;u. a.</span></strong>
                </div>
                <div *ngFor="let parteiBevAktiv of aktiverTermin.prozBevAktiv | slice:0:1">
                  {{parteiBevAktiv}}<span *ngIf="aktiverTermin.prozBevAktiv.length > 1">&nbsp;u. a.</span>
                </div>
              </div>
              <div class="activeCasePartsLargeBorder">
                <div><i>wegen</i></div>
                <div><strong>{{aktiverTermin.gegenstand}}</strong></div>
              </div>
            </div>
            <div *ngSwitchCase="'ZIV'">
              <div class="activeCaseParts">
                <div *ngFor="let parteiAktiv of aktiverTermin.parteienAktiv | slice:0:1">
                  <strong>{{parteiAktiv}}<span *ngIf="aktiverTermin.parteienAktiv.length > 1">&nbsp;u. a.</span></strong>
                </div>
                <div *ngFor="let parteiBevAktiv of aktiverTermin.prozBevAktiv | slice:0:1">
                  {{parteiBevAktiv}}<span *ngIf="aktiverTermin.prozBevAktiv.length > 1">&nbsp;u. a.</span>
                </div>
              </div>
              <div *ngIf="aktiverTermin.parteienPassiv.length > 0">
                <div class="activeCasePartsSmallBorder"><div><i>gegen</i></div></div>
                <div class="activeCaseParts">
                  <div *ngFor="let parteiPassiv of aktiverTermin.parteienPassiv | slice:0:1">
                    <strong>{{parteiPassiv}}<span *ngIf="aktiverTermin.parteienPassiv.length > 1">&nbsp;u. a.</span></strong>
                  </div>
                  <div *ngFor="let parteiBevPassiv of aktiverTermin.prozBevPassiv | slice:0:1">
                    {{parteiBevPassiv}}<span *ngIf="aktiverTermin.prozBevPassiv.length > 1">&nbsp;u. a.</span>
                  </div>
                </div>           
              </div>
              <div class="activeCasePartsLargeBorder">
                <div><i>wegen</i></div>
                <div><strong>{{aktiverTermin.gegenstand}}</strong></div>
              </div>
            </div>
            <div *ngSwitchCase="'VSIMM'">
              <div class="activeCaseParts">
                    <div><strong>{{aktiverTermin.parteienSv}}</strong></div>
              </div>
              <div class="activeCasePartsLargeBorder">
                <div><i>wegen</i></div>
                <div><strong>{{aktiverTermin.gegenstand}}</strong></div>
              </div>
            </div>
            <div *ngSwitchCase="'FAM'">
              <div class="activeCaseParts">
                <div *ngFor="let parteiAktiv of aktiverTermin.parteienAktiv | slice:0:1">
                  <strong>{{parteiAktiv}}<span *ngIf="aktiverTermin.parteienAktiv.length > 1">&nbsp;u. a.</span></strong>
                </div>
                <div *ngFor="let parteiBevAktiv of aktiverTermin.prozBevAktiv | slice:0:1">
                  {{parteiBevAktiv}}<span *ngIf="aktiverTermin.prozBevAktiv.length > 1">&nbsp;u. a.</span>
                </div>
              </div>
              <div *ngIf="aktiverTermin.parteienPassiv.length > 0">
                <div class="activeCasePartsSmallBorder"><div><i>gegen</i></div></div>
                <div class="activeCaseParts">
                  <div *ngFor="let parteiPassiv of aktiverTermin.parteienPassiv | slice:0:1">
                    <strong>{{parteiPassiv}}<span *ngIf="aktiverTermin.parteienPassiv.length > 1">&nbsp;u. a.</span></strong>
                  </div>
                  <div *ngFor="let parteiBevPassiv of aktiverTermin.prozBevPassiv | slice:0:1">
                    {{parteiBevPassiv}}<span *ngIf="aktiverTermin.prozBevPassiv.length > 1">&nbsp;u. a.</span>
                  </div>
                </div>           
              </div>
              <div class="activeCasePartsLargeBorder">
                <div><i>wegen</i></div>
                <div><strong>{{aktiverTermin.gegenstand}}</strong></div>
              </div>
            </div>
            <div *ngSwitchCase="''"> <!-- Default-Wert: Arbeitsgericht -->
              <div class="activeCaseParts">
                <div *ngFor="let parteiAktiv of aktiverTermin.parteienAktiv | slice:0:1">
                  <strong>{{parteiAktiv}}<span *ngIf="aktiverTermin.parteienAktiv.length > 1">&nbsp;u. a.</span></strong>
                </div>
                <div *ngFor="let parteiBevAktiv of aktiverTermin.prozBevAktiv | slice:0:1">
                  {{parteiBevAktiv}}<span *ngIf="aktiverTermin.prozBevAktiv.length > 1">&nbsp;u. a.</span>
                </div>
              </div>
              <div *ngIf="aktiverTermin.parteienPassiv.length > 0">
                <div class="activeCasePartsSmallBorder"><div><i>gegen</i></div></div>
                <div class="activeCaseParts">
                  <div *ngFor="let parteiPassiv of aktiverTermin.parteienPassiv | slice:0:1">
                    <strong>{{parteiPassiv}}<span *ngIf="aktiverTermin.parteienPassiv.length > 1">&nbsp;u. a.</span></strong>
                  </div>
                  <div *ngFor="let parteiBevPassiv of aktiverTermin.prozBevPassiv | slice:0:1">
                    {{parteiBevPassiv}}<span *ngIf="aktiverTermin.prozBevPassiv.length > 1">&nbsp;u. a.</span>
                  </div>
                </div>           
              </div>
              <div class="activeCasePartsLargeBorder">
                <div><i>wegen</i></div>
                <div><strong>{{aktiverTermin.gegenstand}}</strong></div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="aktiverTermin && aktiverTermin.oeffentlich == 'nein'" class="bottom-nichtoeffentlich">
        <h4>{{ aktiverTermin.gericht }}</h4>
        <div><span *ngFor="let besetzungItem of aktiverTermin.besetzung; last as t">{{ besetzungItem }}<span *ngIf="!t">,&nbsp;</span></span></div>
      </div>
      <div *ngIf="aktiverTermin && aktiverTermin.oeffentlich == 'ja'" class="bottom-oeffentlich">
        <h4>{{ aktiverTermin.gericht }}</h4>
        <div><span *ngFor="let besetzungItem of aktiverTermin.besetzung; last as t">{{ besetzungItem }}<span *ngIf="!t">,&nbsp;</span></span></div>
      </div>
      <!-- e: Status Läuft -->
      <!--<app-termin *ngIf="aktiverTermin" [termin]="aktiverTermin"></app-termin>-->
      <!--<app-termin *ngIf="!aktiverTermin && naechsterTermin" [termin]="naechsterTermin"></app-termin>-->
    </div>
    <!-- e: Aktueller Termin -->

    <!-- b: Weitere Termine -->
    <div class="rightSide" fxFlex="25">
      <div class="rightSideHeadline">Weitere Termine</div>
        <div class="ds-termin" fxLayout="column" *ngFor="let termin of termine" #dsTermineChild>

          <div class="notActiveItemAgo" *ngIf="termin.status == 'Abgeschlossen'">
              <div class="itemDate">{{termin.uhrzeitAktuell}} Uhr:&nbsp;{{termin.az}}</div>
              <div *ngIf="termin.oeffentlich == 'nein'" class="hinweis-nichtoeffentlich">nicht öffentliche Sitzung</div>
              <div *ngIf="termin.oeffentlich == 'ja'" class="hinweis-oeffentlich">öffentliche Sitzung</div>
              <div *ngIf="termin.oeffentlich == 'ja'">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
          </div>

          <div class="activeItem bordernichtoeffentlich" *ngIf="termin.oeffentlich == 'nein' && (termin.status == 'Läuft' || termin.status == 'Unterbrochen')" >
            <div class="itemDate">{{termin.uhrzeitAktuell}} Uhr:&nbsp;{{termin.az}}</div>
            <div *ngIf="termin.oeffentlich == 'nein'" class="hinweis-nichtoeffentlich">nicht öffentliche Sitzung</div>
            <div *ngIf="termin.oeffentlich == 'ja'" class="hinweis-oeffentlich">öffentliche Sitzung</div>
            <div *ngIf="termin.oeffentlich == 'ja'">
              <div [ngSwitch]="termin.bemerkung2">
                <div *ngSwitchCase="'STRAF'">{{ termin.parteienAktivKurz }}</div>
                <div *ngSwitchCase="'ZIV'">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
                <div *ngSwitchCase="'FAM'">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
                <div *ngSwitchCase="''">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
                <div *ngSwitchCase="'VSIMM'">{{ termin.gegenstand }}</div>
              </div>
            </div>
         </div>

          <div class="activeItem borderoeffentlich" *ngIf="termin.oeffentlich == 'ja' && (termin.status == 'Läuft' || termin.status == 'Unterbrochen')" >
              <div class="itemDate">{{termin.uhrzeitAktuell}} Uhr:&nbsp;{{termin.az}}</div>
              <div *ngIf="termin.oeffentlich == 'nein'" class="hinweis-nichtoeffentlich">nicht öffentliche Sitzung</div>
              <div *ngIf="termin.oeffentlich == 'ja'" class="hinweis-oeffentlich">öffentliche Sitzung</div>
              <div *ngIf="termin.oeffentlich == 'ja'">
                <div [ngSwitch]="termin.bemerkung2">
                  <div *ngSwitchCase="'STRAF'">{{ termin.parteienAktivKurz }}</div>
                  <div *ngSwitchCase="'ZIV'">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
                  <div *ngSwitchCase="'FAM'">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
                  <div *ngSwitchCase="''">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
                  <div *ngSwitchCase="'VSIMM'">{{ termin.gegenstand }}</div>
                </div>
              </div>
          </div>

          <div class="notActiveItem" *ngIf="!termin.status">
            <div class="itemDate">{{termin.uhrzeitAktuell}} Uhr:&nbsp;{{termin.az}}</div>
            <div *ngIf="termin.oeffentlich == 'nein'" class="hinweis-nichtoeffentlich">nicht öffentliche Sitzung</div>
            <div *ngIf="termin.oeffentlich == 'ja'" class="hinweis-oeffentlich">öffentliche Sitzung</div>
            <div *ngIf="termin.oeffentlich == 'ja'">
              <div [ngSwitch]="termin.bemerkung2">
                <div *ngSwitchCase="'STRAF'">{{ termin.parteienAktivKurz }}</div>
                <div *ngSwitchCase="'ZIV'">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
                <div *ngSwitchCase="'FAM'">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
                <div *ngSwitchCase="''">{{ termin.parteienAktivKurz }} <br /> ./. {{ termin.parteienPassivKurz }}</div>
                <div *ngSwitchCase="'VSIMM'">{{ termin.gegenstand }}</div>
              </div>
            </div>
        </div>
    </div>
    <!-- e: Weitere Termine -->

  </div>
</div>
