<div class="main-container">
    <div class="content-container">
    <nav class="sidenav">
        <section class="sidenav-content">

            <!--Selektion nach Status-->
            <section class="nav-group">
                <input id="tabStatus" type="checkbox" clrCheckbox>
                <label for="tabStatus">Status</label>
                <ul class="nav-list">
                    <clr-checkbox-wrapper *ngFor="let status of GetStatusValues(true); let index = index;">
                        <input type="checkbox" 
                            clrCheckbox
                            [id]="'sel_status_' + index"
                            [name]="'sel_status_' + index"  
                            [(ngModel)]="selStatus[index]"
                            (change)="changeSelection()" />
                        <label style="padding-left: 25px!important;">{{status}}</label>
                    </clr-checkbox-wrapper>
                </ul>
            </section>
            <!--Selektion nach Gericht-->
            <section class="nav-group">
                <input id="tabGericht" type="checkbox" clrCheckbox>
                <label for="tabGericht">Gericht</label>
                <ul class="nav-list">
                    <clr-checkbox-wrapper *ngFor="let gericht of GetGerichtValues(); let index = index;">
                        <input type="checkbox" 
                            clrCheckbox
                            [id]="'sel_gericht_' + index"
                            [name]="'sel_gericht_' + index"   
                            [(ngModel)]="selGericht[index]"
                            (change)="changeSelection()" />
                        <label style="padding-left: 25px!important;">{{gericht}}</label>
                    </clr-checkbox-wrapper>
                </ul>
            </section>
            <!--Selektion nach Saal-->
            <section class="nav-group">
                <input id="tabSaal" type="checkbox" clrCheckbox>
                <label for="tabSaal">Saal</label>
                <ul class="nav-list">
                    <clr-checkbox-wrapper *ngFor="let saal of GetSaalValues(); let index = index;">
                        <input type="checkbox" 
                            clrCheckbox
                            [id]="'sel_saal_' + index"
                            [name]="'sel_saal_' + index"
                            [(ngModel)]="selSaal[index]"
                            (change)="changeSelection()" />
                        <label style="padding-left: 25px!important;">{{saal}}</label>
                    </clr-checkbox-wrapper>
                </ul>
            </section>
        </section>

        <button class="btn btn-sm btn-primary" (click)="updateClick()">
            <clr-icon shape="refresh"></clr-icon>
            aktualisieren
        </button>
        <button class="btn btn-sm btn-primary" (click)="addNewTerminClick()" *ngIf="basicPermission.allowTermine > 1">
            <clr-icon shape="plus"></clr-icon>
            neu hinzufügen
        </button>
        </nav>  

    <div class="content-area">
    <clr-datagrid #DataGridTermine  (window:resize)="onResize($event)" [clrDgLoading]="loadingTermine">

        <clr-dg-column class="ds-termin-column-edit"></clr-dg-column>
        <clr-dg-column class="ds-termin-column-uhrzeit">Uhrzeit</clr-dg-column>
        <clr-dg-column class="ds-termin-column-gericht">Gericht</clr-dg-column>
        <clr-dg-column class="ds-termin-column-saal">Saal</clr-dg-column>
        <clr-dg-column class="ds-termin-column-az">Aktenzeichen</clr-dg-column>
        <clr-dg-column class="ds-termin-column-partei">Aktivpartei</clr-dg-column>
        <clr-dg-column class="ds-termin-column-partei">Passivpartei</clr-dg-column>
        <clr-dg-column class="ds-termin-column-oeffentlich">Öffentlich</clr-dg-column>
        <clr-dg-column class="ds-termin-column-status">Status</clr-dg-column>
    
        <clr-dg-placeholder>Zu dieser Selektion sind keine Termine vorhanden</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let termin of filteredTermine; let i = index">
            <clr-dg-cell class="ds-termin-column-edit">
                <clr-icon shape="pencil" class="is-solid" (click)="editTerminClick(termin)" *ngIf="basicPermission.allowTermine > 1"></clr-icon>
            </clr-dg-cell>
            <clr-dg-cell class="ds-termin-column-uhrzeit">{{ termin.uhrzeitAktuell }}</clr-dg-cell>
            <clr-dg-cell class="ds-termin-column-gericht">{{ termin.gericht }}</clr-dg-cell>
            <clr-dg-cell class="ds-termin-column-saal">{{ termin.sitzungssaal }}</clr-dg-cell>
            <clr-dg-cell class="ds-termin-column-az">{{ termin.az }}</clr-dg-cell>
            <clr-dg-cell class="ds-termin-column-partei">{{ termin.parteienAktivKurz }}</clr-dg-cell>
            <clr-dg-cell class="ds-termin-column-partei">{{ termin.parteienPassivKurz }}</clr-dg-cell>
            <clr-dg-cell class="ds-termin-column-oeffentlich">
            <div class="toggle-switch">
                <input [id]="'chk_oeff_' + i" clrToggle type="checkbox" [checked]="termin.oeffentlich | yesnoBoolean" disabled>
                <label [for]="'chk_oeff_' + i"></label>
            </div>
            </clr-dg-cell>
            <clr-dg-cell class="ds-termin-column-status">{{termin.status}}</clr-dg-cell>
        </clr-dg-row>
        </clr-datagrid>

    </div>
    
</div>

<termin-dialog (dataChanged)="updateClick()"></termin-dialog>