.main-container {
    height:100%;
}
.sidenav {
    min-width: 220px;
    width: 220px; 
}

.sidenav-content {
    height:100%;
}

.sidenav .nav-group label {
    padding: 0 0 0 0!important;
}

.sidenav .nav-group .nav-list{
    padding: 0 0 0 .5rem!important;
}

.datagrid-host {
    padding-top: 0;
    padding-right: 5px;
}

.content-area {
    padding-top: 0!important;
    padding-right: 0!important;
}

.ds-termin-column-edit {
    min-width: 35px;
    width: 35px;
    cursor: pointer;
  }

.ds-termin-column-uhrzeit {
    min-width: 2.5rem;
    width: 60px;
  }

.ds-termin-column-az {
    min-width: 130px;
}

.ds-termin-column-gericht{

}

.ds-termin-column-saal {

}

.ds-termin-column-partei {

}

.ds-termin-column-oeffentlich {
    min-width: 3rem;
}

.ds-termin-column-status {

}