<md-toolbar class="md-whiteframe-z2 md-hue-3">
  <div class="md-toolbar-tools" layout="row">
    <h3>{{vm.title}}</h3>
    <span flex></span>
    <md-button ng-click="vm.addNewItem()">
      <md-icon aria-label="New" md-svg-icon="personadd"></md-icon> Neu
    </md-button>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <div ng-repeat="item in vm.items track by $index" layout="row">
    <md-input-container md-no-float flex>
      <md-icon md-svg-src="person"></md-icon>
      <input ng-model="item.PB" type="text" playeholder="Name" />
    </md-input-container>
    <md-button class="md-fab ds-xxmini" ng-click="vm.deleteItem(item)">x</md-button>
  </div>
</md-content>