/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:host {
  display: flex;
}

md-card {
  margin: 10px;
}

md-card > md-toolbar {
  margin: -24px -24px 0px -24px !important;
  width: calc(100% + 48px) !important;
}