/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:host {
  display: flex;
}

md-card {
  margin: 10px;
}

md-card > md-toolbar {
  margin: -24px -24px 0px -24px !important;
  width: calc(100% + 48px) !important;
}

.ds-bg-green {
  background-color: rgba(150, 225, 150, 0.8);
}

.ds-bg-yellow {
  background-color: rgba(245, 225, 125, 0.8);
}

.ds-bg-red {
  background-color: rgba(255, 170, 170, 0.8);
}

.ds-termin {
  margin: 5px;
  padding: 10px;
  border: 1px lightgray solid;
}

.ds-termin md-input-container {
  width: 90%;
  margin: 5px;
}